@import 'base.less';
.el-nav{
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:100;
    background:#fff;
    border-bottom:1px solid #747474;
    margin-bottom:3rem;
    font-size:.7rem;
    .flex;
    >li{
        display:block;
        height:2rem;
        line-height:2rem;
        color:#333;
        &.active{
            color: #f84d4d;
            // border-bottom: 2px solid #f84d4d;
        }
    }
    .active-bar{
        position:absolute;
        width:25%!important;
        height:2px;
        background:#f84d4d;
        bottom:0;
        transition: transform .3s cubic-bezier(.645,.045,.355,1);
    }
}
.el-content{
    margin-top:2rem;
    margin-bottom:70px;
    .el-tab-pane>p{
        font-size:.8rem;
        color:#747474;
    }
}
 .el-tab-pane{
    background:#f6f6f6
}
.mana-over-ol{
    width:100%;
}